* {
	box-sizing: border-box;
}



body {
	font-size: 0;
	font-family: Arial, sans-serif;
}

#container {
	margin: 0 auto; /*change?*/
	border: 1px black solid; /*remove*/
}

.mainBox {
	border: 3px solid #47A3DA;
	border-right-width: 3.1px;
	width: 100%;
	display: inline-block;
	position: relative;
}

p {
	font-size: 16px;
}	

			/*optionRow*/

.optionRow {
	display: inline-block;
	width: 100%;
}

.button {
	display: inline-block;
	width: 20%;
	height: 30px;
	/*background-color: teal;*//*change*/
	border: 2px solid #47A3DA;
	border-top-width: 3px;
	border-bottom: 3px;
	color: #47A3DA;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	vertical-align: top;
}

.button:first-child {
	border-left:none;
<<<<<<< HEAD
}

.button:nth-child(5){
	border-right:none;
}


			/*merchPrice*/
img{
	width:100%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}


.merchPrice {
	border-top-width: 3px solid #47A5E0;*/
	border-left: none;
	border-right-width: none;
	border-bottom: none;
	max-width: 400px;
	width: 100%;
	font-size: 15px;
	vertical-align: top;
}

h1 {
	width: 48%;
	display: inline-block;
	font-size: 16px;
	color: #47A5E0;
	margin-bottom: 2px;
}

h2 {
	display: inline-block;
	font-size: 16px; 
	font-weight: bold;
	width: 47%;
	color: #47A5E0;
	text-align: right;}

.invisible {
	display: inline-block;
	width: 32%;
	margin-left: 10px;
}

.cornerBox{
	display: block;
	margin-left:260px;
	border: 1px solid #47A5E0;
	height:  20px;
	width: 27px;
	

}
.shirtBox{
	height: 350px;
	position:relative;
	transition: 3s transform ease;
	transform-style: preserve-3d;
}

#tails {
  transform: translateY(-50%) rotateY(180deg);
}
input{
margin-left:270px;

	}
.cornerBox i{
	position: absolute;
	border: 1px solid #47A5E0;
	top:0;
	right: 0;
	height:  20px;
	width: 27px;
}

input[type="checkbox"]:checked ~ .shirtBox {
  transform: rotateY(180deg);
}


=======
}

.button:nth-child(5){
	border-right:none;
}


			/*merchPrice*/

.merchPrice {
	border-top-width: 3px solid #47A5E0;*/
	border-left: none;
	border-right-width: none;
	border-bottom: none;
	max-width: 400px;
	width: 100%;
	font-size: 15px;
	vertical-align: top;
}

h1 {
	width: 48%;
	display: inline-block;
	font-size: 16px;
	color: #47A5E0;
	margin-bottom: 2px;
}

h2 {
	display: inline-block;
	font-size: 16px; 
	font-weight: bold;
	width: 47%;
	color: #47A5E0;
	text-align: right;}

.invisible {
	display: inline-block;
	width: 32%;
	margin-left: 10px;
}

.cornerBox{
	position: absolute;
	border: 1px solid #47A5E0;
	top:0;
	right: 0;
	
	
}
>>>>>>> master
